@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-brand: rgba(43, 127, 255, 1);
  --color-primary: rgba(255, 255, 255, 1);
  --color-primary-dark: rgba(1, 28, 68, 1);
}

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.button {
  color: var(--color-primary);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.logo {
  text-decoration: none;
}

.link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand);
  font-weight: 600;
  text-decoration: underline;
}

.sectoin-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 600;
  line-height: 1.5;
}

.section-title .accent {
  color: var(--color-brand);
  font-size: 22px;
}

/* profile-header */

/* .profile-header {
} */

/* frame-section */

.frame {
  margin-left: 206px;
}

.hero-title {
  color: var(--color-brand);
}

/* reincarnation-section*/

.reincarnation-section {
  margin-left: 100px;
}

/* why-us-section */

.why-us-section {
  margin-left: 100px;
  text-align: center;
}

/* our-procedures-section */

.our-procedures-section {
  text-align: center;
}

/* format-section */

.contacts-section {
  text-align: center;
}

/* Footer-section */

.footer-title {
  color: var(--color-primary);
  text-decoration: none;
}

.footer-title:hover {
  color: var(--color-brand);
  text-decoration: underline;
}

.footer {
  background-color: rgba(1, 28, 68, 1);
}

.data {
  color: rgba(116, 114, 114, 1);
}

.icon-footer {
  background-color: red;
}
