:root {
  --color-brand: rgba(43, 127, 255, 1);
  --color-primary: rgba(255, 255, 255, 1);
  --color-primary-dark: rgba(1, 28, 68, 1);
}

body {
  color: var(--color-primary-dark);
}
ul {
  list-style-type: none;
}

.button {
  color: var(--color-primary);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32;
  padding: 16px, 32px, 16px, 32px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-dark);
}

.link:hover {
  color: var(--color-brand);
}

.hero-title {
  color: var(--color-brand);
}

.section-title {
  color: var(--color-primary-dark);
}

.section-title .accent {
  color: var(--color-brand);
}

.footer-title {
  color: var(--color-primary);
}

.footer-title:hover {
  color: var(--color-brand);
}

.footer {
  background-color: rgba(1, 28, 68, 1);
}

.data {
  color: rgba(116, 114, 114, 1);
}
